@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --pcolor: #ffffff;
    --scolor: #C0C0C0;
    --btncolor: #167BF7;
    --bgcolor: #00030C;

    --pfont: "Inter", sans-serif;
    --pfont-regular: 400;
    --pfont-bold: 700;
}

a {
  text-decoration: none;
}

body {
    background-color: var(--bgcolor);
    color: var(--pcolor);
    font-family: var(--pfont);
    font-weight: var(--pfont-regular);
    font-size: 1rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.hero {
    background-image: url(../assets/background.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container__title {
    font-size: 1.75rem;
    font-weight: var(--pfont-bold);
}

.container__img {
    margin: 1em 0 2.5em 0;
} 

.container__bttn {
    color: var(--pcolor);
    font-size: 1rem;
    background-color: var(--btncolor);
    border-radius: 8px;
    padding: 1em;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    transform: scale(1);
    transition: 0.3s;
}

.container__bttn:hover {
    transform: scale(1.1);
}

.second-bttn {
    background-color: transparent;
    border: solid 2px var(--pcolor);
    margin-bottom: 10px;
}

.warning {
    font-size: 0.75rem;
    color: var(--scolor);
    text-align: center;
}

.hero__content {
    margin-left: 15%;
}

/* ================================================= */

.secondary {
    margin: 0 7%;
}

.secondary__img {
    width: 80%;
}

.secondary__description {
    text-align: start;
    padding: 2em;
}

.secondary__description__title {
    font-size: 3rem;
    font-weight: 700;
}

.secondary__description__text {
    color: var(--scolor);
}

.secondary__bttn {
    display: inline-block;
    margin-top: 1em;
}

/* =================================================== */

.media {
    text-align: center;
}

.media__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2em 0;
    margin-bottom: 4em;
    gap: 4em;
}

.media__item {
    font-size: 2rem;
    font-weight: 700;
}

/* =============================================== */

.ftr__container {
    text-align: center;
    margin: 5em;
}

.ftr__img {
    margin-bottom: 2em;
}

.ftr__link {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 1em;
}

.ftr__link__item {
    color: var(--pcolor);
}

.ftr__link__item:hover {
    text-decoration: underline;
}

.ftr__text {
    font-size: 0.75rem;
    color: var(--scolor);
}

/* ================================================== */

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .hero {
        height: 70vh;
    }

    .hero__content {
        margin: 5%;
    }

    .secondary {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .secondary__img {
        width: 70%;
    }

    .secondary__description {
        text-align: center;
        padding: 2em 0;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .media__list {
        gap: 0;
    }

    .media__item img {
        width: 80%;
    }

    .media__item {
        font-size: 1.5rem;
    }
}